body{
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New';
    color: #000000;
    margin: 0;
    padding: 0;
}

header{
    background-color: #050c6d;
    padding: 20px;
    color: white;

}

section{
    align-items: center;
    text-align: center;
}

.foto1, .foto2 {
    width: 300px;
    text-align: center; 
    align-items: center;
    
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #000;
}